

.listar-tarefas {
  display: flex;
  background-color: #a9a9a9;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  width: 600px;
  height: auto;
}

.listar-tarefas #ulTarefas {
  display: flex;
  flex-direction: column;  
}

.listar-tarefas #ulTarefas li {
  border-bottom: #333 1px solid;
  padding: 20px;

  list-style: square;
}

